.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}
.body{
    height: 100vh; /* Specify a height */
  width: 30vw; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
 border: 1px solid black;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  background: white;
}
.microCardBody{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.counter{

}

.microcard-container{
    min-height: 30vh;
    min-width: 30vw;
}